<footer class="footer">
  <div class="max-w-web mx-auto">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div>Collaborate</div>
      <!-- <div>
        <img
          src="https://static.wixstatic.com/media/1c3e08_a31761f49d484a169eeab3cd2bf73be6~mv2.png/v1/fill/w_240,h_39,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cisseuk_h_wht.png" />
        </div> -->
        <div style="display: flex; justify-content: space-between; margin-block: 15px; padding: 5px;">
          <a class="header-nav-link" href="#">Home</a>
        </div>
      <div>
        <span class="material-symbols-outlined">mail</span>
      </div>
    </div>
  </div>
</footer>